@tailwind base;
@tailwind components;
@tailwind utilities;
  @keyframes drawHeart {
    0% {
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
    }
    100% {
      width: 128px;
      height: 128px;
      top: 16px;
      left: 16px;
    }
  }

  .heart-animation {
    animation: drawHeart 1s ease-in-out forwards;
  }

  @keyframes fadeInName {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-name {
    animation: fadeInName 1.5s ease-in-out 1s forwards;
  }